.valinput{
  background: lightyellow;
  width: 50px;
  text-align: right;
  /* border: 1px black solid; */
}
#kotae{
  width: 50px;
  text-align: right;
}
.mada{
  color: #DDDDDD;
}
.seikai{
  color: blue;
}
.matigai{
  color: red;
}
