.valinput{
  display: inline-block;
  /* background: lightyellow; */
  width: 20px;
  text-align: right;
  /* border: 1px black solid; */
}
.kaito-val{
  display: inline-block;
  width: 30px;
  background: lightyellow;
  border: 1px black solid;
  text-align: right;
}
.input-btn{
  width: 40px;
  height: 40px;
}

.input-btn-area{
  margin-top: 5px;
  margin-bottom: 5px;
  
}